a {
	color: #3273dc;
	cursor: pointer;
	text-decoration: none;
}
a:hover {
	color: #363636;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	margin-top: 0;
	margin-bottom: 0.5rem;
}
p,
ol,
ul,
dl {
	margin-top: 0;
	margin-bottom: 1rem;
}

h1,
.h1 {
	font-size: 4rem;
	line-height: 5rem;
}
h2,
.h2 {
	font-size: 3rem;
	line-height: 4rem;
}
h3,
.h3 {
	font-size: 2rem;
	line-height: 3rem;
}
h4,
.h4 {
	font-size: 1.5rem;
	line-height: 2.25rem;
}
h5,
.h5 {
	font-size: 1.125rem;
	line-height: 1.75rem;
}
h6,
.h6 {
	font-size: 1rem;
	line-height: 1.5rem;
}
